{{!-- <div class="hamContainer">
  <div class="hamburger">
    <span class=hamIcon>&#9776;</span>
    <div style="position:relative;flex-basis:100%">
      <nav class="menu">
        <a href="{{url}}/">Home</a>
        <a href="{{url}}/auth">Login</a>
        <a href="{{url}}/auth/register">Register</a>
        <a href="{{url}}/pricing">Pricing</a>
      </nav>
    </div>
  </div>
</div>
<style>
  .hamContainer {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5rem;
  }
  .hamIcon{
    user-select:none;
    
    font-weight: bold;
  }
  .hamburger {
    font-size: 2rem;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: flex-start;
    height: 1.5em;
    width: 1.5em;
    border-radius: 0.5rem;
    background-color: white;
    text-align: center;
    
  }

  .menu {
    text-align:left;
    position: absolute;
    top: 0rem;
    right: 0;
    font-size:1rem;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
    z-index: 2;
    border-radius:0.5rem 0 0.5rem 0.5rem;
    padding:0.5rem;
  }

  .menu .logo {
    font-size: 24px;
  }

  .menu .hamburger {
    cursor: pointer;
    font-size: 24px;
  }

  nav.menu {
    display: none;    
  }

  nav.menu.show {
    display: block !important;
  }

  .show .hamburger{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
</style>
<script>
  document.querySelector('.hamburger').addEventListener('click', function () {
    document.querySelector('nav.menu').classList.toggle('show');
    document.querySelector('.hamContainer').classList.toggle('show');
  });
</script> --}}