<div style="text-align:center;">
    <h1>
        Reserve
    </h1>
</div>
<div style="background-color:white; overflow:auto;">
    <div class="container">
        <div class="contentPadding">

            <form action="reserve" method="post">
                <p>
                    When do you need it?
                </p>
                <div class="row">
                <div class="col roundCorners bgCol1">
                    <label for="when">Specific time?</label>
                    <input type="time" name="when" id="when">
                </div>
              
                <label for="NOWWW" class="col roundCorners bgCol1">
                    ASAP!
                    <input type="checkbox" name="asap" id="NOWWW">
                </label>
               
                </div>
            </form>
           
        </div>
    </div>
</div>