<div style="text-align:center;">
    <h1>
        Your Reservation
    </h1>
</div>


<style>
    .reserveButton {
        height: 10rem;
        flex-direction: column;
        gap: 0.5rem;
        transition: 0.5s flex-grow;
        flex-shrink: 3;
    }

    .reserveButton:has(input:checked) {
        flex-grow: 5;
    }

    .row:has(#SpecificTime:checked, #NOWWW:checked) .reserveButton:not(:has(input:checked)) {
        flex-grow: 5;
        opacity: 0.5;
    }

    label:has([type=radio]) {
        cursor: pointer;
    }

 
    
</style>

<div style="background-color:white; overflow:auto;">
    <div class="container">
        <div class="contentPadding">
            <p>
                Your stay has been reserved.
            </p>
            <div class="row contentItemMargin" style="gap:1rem">
                <div class="col reserveButton roundCorners bgCol1 flex-row-center">
                    <div>
                        Time:
                    </div>
                    <div id="timeDisplay" data-start="{{startTimeTicks}}">
                    </div>
                </div>
                <div class="col reserveButton roundCorners bgCol1 flex-row-center">
                    <div>
                        Duration:
                    </div>
                    <div>
                        {{reservation.duration}} mins.
                    </div>
                </div>
            </div>
            <p>
                Was it a dud?
            &nbsp;
                <a href="reserve/cancel" class="roundCorners bgCol1 contentPadding a-noStyle button text-error" style="display:inline-block;">
                    Cancel your reservation
                </a>
            </p>
        </div>



    </div>
</div>

<script>
    var el = document.getElementById("timeDisplay");
    el.textContent = new Date(+el.dataset.start).toLocaleTimeString();

</script>