<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BogLockd</title>
    <link href="{{url}}/style.css" rel="stylesheet"/>
</head>
<body>
  <h1>
   BogLockd
  </h1>

  {{>nav}}
  <main style="overflow:hidden;">
  {{{body}}}
  </main>
</body>
</html>