

<div class="container" style="padding:2rem;">
	<div class="toiletContainer">
		<div class="toilet layers" id="toilet">
		
		
			<div class="seat layers lid">
				<div class="flex-row-center text-center label">
					<div>
						<p> 
							The bog is reserved forever
						</p>
						<button onclick="document.getElementById('toilet').classList.add('lookin')">Is it locked though?</button>
					</div>
				</div>

			</div>
			<div class="lid flex-row-center">
				<div class="hole flex-row-center text-center">

					<div class="floater">
						<p>
							Yes
						</p>
						<button  onclick="document.getElementById('toilet').classList.remove('lookin')">Back</button>
					</div>

				</div>
			</div>	
		</div>
		<div class="restOfBog">

		</div>
	</div>
</div>

<div style="background-color:white; overflow:auto;" >
  <div class="container">
    <div class="contentPadding">
      <h2>
        What the Bog?!
      </h2>
      <p class=fancy>
        Boglocked is a service that irradicates bog waits.
      </p>
      <p>
        <a href="#">Register Now!</a>
      </p>
    </div>
    <div class="contentPadding">
      <h2>
        You think this is wierd?
      </h2>
      <p class=fancy>
        Out super-privacy-tech-no-logy™ ensures no data about who is on the toilet is collected.
      </p>
      <p class=fancy>
        Out data is wiped every time you wipe (then unlock the door).
      </p>
    </div>
     <div class="contentPadding">
      <h2>
        Premium Membershit
      </h2>
      <p class=fancy>
        The premium account unlocks the ability to <u>check if the bathroom door is locked</u> at any time. 24/7 access and 99.99% uptime.
      </p>
       <p>
         <a href="#">Upgrade to premium now</a>
       </p>
  </div>
    <div class="contentPadding">
      <h2>
        S-Tier Premium
      </h2>
      <p class=fancy>
        As well as everything Premium includes, you will become the <b>King of the Bog</b>, The <b>Bog-master</b>. <u>Perminent Reservation</u>
      </p>
      <p>
        <a href="#">Contact us for a quote</a>
      </p>
  </div>
    <div class="contentPadding">
      <h2>
        How does it work?
      </h2>
      <p class=fancy>
        Registered flushers can reserve a slot on the toilet. Our technology ensures reservations dont overlap, you can do you biz in peace.
      </p>
     
      <p class=fancy>
        <b>But what about everyone else?</b><br>
        Muggels can also see the reservation status of the bog though a display on the door that indicates if the bog is reserved in the next 5 minutes, or currently in use. <br> If they go on the bog when the light is on, they'll get a stur that will deter.
      </p>
      <p class=fancy>
        Premium membershit will give let you see if the bog door is locked, so you can guarantee a free wee.
      </p>
       <p>
         <a href="#">Upgrade to premium now</a>
       </p>
  </div>
</div>  
