

<div class="container" style="padding:2rem;">
	<div class="toiletContainer">
		<div class="toilet layers" id="toilet">
		
		
			<div class="seat layers lid">
				<div class="flex-row-center text-center label">
					<div>
						<p> 
							The bog is reserved forever
						</p>
						<button onclick="document.getElementById('toilet').classList.add('lookin')">Is it locked though?</button>
					</div>
				</div>

			</div>
			<div class="lid flex-row-center">
				<div class="hole flex-row-center text-center">

					<div class="floater">
						<p>
							Yes
						</p>
						<button  onclick="document.getElementById('toilet').classList.remove('lookin')">Back</button>
					</div>

				</div>
			</div>	
		</div>
		<div class="restOfBog">

		</div>
	</div>
</div>

<div style="background-color:white; overflow:auto;" >
  <div class="container">
    <div class="contentPadding">
      <h2>
        What the Bog?!
      </h2>
      <p class=fancy>
        Boglocked is a service that irradicates bog waits.
      </p>
      <p>
        <a href="#">Register Now!</a>
      </p>
    </div>
    <div class="contentPadding">
      <h2>
        You think this is wierd?
      </h2>
      <p class=fancy>
        Out super privacy tech-no-logy ensures no data about who is on the toilet is collected.
      </p>
      <p class=fancy>
        
      <p class=fancy>
        The only data we collect is if the door is locked to ensure you can do your business uninterupted.  
      </p>
      <p class=fancy>
        The only data we store is the last time the door was locked or opened and it's whiped every time you wipe (then unlock the door).
      </p>
      
    </div>
  </div>
</div>  
