

<div style="text-align:center;">
  <h2>
    Register
  </h2>
</div>
<div style="background-color:white; overflow:auto;" >
  <div class="container">
    <div class="contentPadding">
      <input type="email"/>
    </div>
  </div>
</div>