:root{
	--col1:#eef	
}
.bgCol1{
	background-color:var(--col1);
}
body{
	background-color:var(--col1);
	font-family:cursive;
	margin:0;
}
.container{
	max-width:30rem;
	margin-inline:auto
}
.contentPadding{
	padding:1rem 2rem;
}

.fancy{
	font-family:serif;
	letter-spacing:1px;
	line-height:1.5;
}

.flex-row-center{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;
}
.layers{
	display:grid;
	grid-template-areas:"all";
}
.layers>*{
	grid-area:all;
}

.row{
	display: flex;
	flex-flow:row wrap;
}
.col{
	flex:1 1 14rem;
}
.col-thin{
	flex-basis: 10rem;;
}