body{
	background-color:#eef;
	font-family:cursive;
	margin:0;
}
.container{
	max-width:30rem;
	margin-inline:auto
}
.contentPadding{
	padding:1rem 2rem;
}

.flex-row-center{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;
}
.layers{
	display:grid;
	grid-template-areas:"all";
}
.layers>*{
	grid-area:all;
}
.toiletContainer{
	max-width:20rem;
	margin-inline:auto;
}
.toilet{
	aspect-ratio: 1 / 1;
}
.toilet{
    perspective: 90rem;
	transform-style: preserve-3d;
}
.text-center{
	text-align:center;
}
.lid{
	background-color:#fff;
	border-top-left-radius:100%;
	border-top-right-radius:100%;
	transform-origin:bottom;
	transform-style: preserve-3d;
	transform:rotate3d(1,0,0,-100deg);
}
.hole{
	height:70%;
	width:70%;
	border-radius:100%;	
	background-color:#eef;
	overflow:hidden;
}
.seat{
	animation: openSeat forwards 5s;	
}
.floater{
	transform:rotate3d(1,0,0,90deg) translatez(5rem);
}
.seat .label{
	transform:translate3d(0,0,1px);
	
}
@keyframes openSeat{
	from{
		transform:rotate3d(1,0,0,-100deg);
	}
	to{
		transform:rotate3d(1,0,0,0deg);
	}
}


.toilet{
transition:1s;
}
.floater{	
	transition:0.5s;
	transition-delay:0s;
}
.toilet.lookin{
	transform:rotate3d(1,0,0,-83deg);
}
.toilet.lookin .floater{
	transition-delay:0.5s;
	transform:rotate3d(1,0,0,180deg) translatez(5rem);
}
.restOfBog{
	width:100%;
	aspect-ratio: 1 / 1;
}
.fancy{
	font-family:serif;
	letter-spacing:1px;
	line-stacking:1.5;
}